.gallery{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.gallery-thumbnail {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;
    width: auto;
    }