.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

.gallery-thumbnail {
  height: 300px;
  width: auto;
  display: block;
}
